doctype html
html(lang='en')
 head
    title Crm
    script(src='/js/menu.js')
    link(rel='stylesheet' href='/css/app.css')
 body
    aside#left
      nav
        ul.menu
          li.menu__main
            a(href="#", title="Analytics22").menu__main-list Analytics